:root {

    --primary-color: #dd9b0c;
  
    --secondary-color: #f9f9f8;
  
    --tertiary-color: #151515;
    
  } 

* {
    margin: 0;
    padding: 0;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    float: right;
    margin: 7px 0;
  }

header nav ul li {
    display: inline;
  }

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

body {
    
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: var(--tertiary-color);
    font-size: 15px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--tertiary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Hero Style Start */

.hero {

    background-color: var(--primary-color);

    height: 400px;

    text-align: center;

    position: relative;

}

.hero h2 {

    font-size: 24px;

    margin: 0;

}

.hero img {

    width: 25%;

    margin: 10px 10px 10px 10px;

    padding: 15px 15px 15px 15px;

    align-items: center;

    position: relative;

}

/* Hero Style End */

.ABOUTME {

    background-color: var(--primary-color);

    text-align: left;

}

.ABOUTME h2 {

    text-align: center;

    position: absolute;

}

.PROJECTS {

    background-color: var(--primary-color);

    text-align: center;

}

.PROJECTS p {

    color: var(--tertiary-color);

}

.CONTACTINFO {

    background-color: var(--primary-color);

    text-align: center;

}

.CONTACTINFO p {

    color: var(--tertiary-color);

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {

    .section-title {

        width: 100%;

    }

    header {

        padding-bottom: 0;
    
        justify-content: center;
    
        position: relative;
    
    }

      header h1 {

        width: 100%;
    
        text-align: center;
    
    }

    footer h2, footer div {

        text-align: center;

        width: 100%;

    }

    .hero-cta, .hero-form {

        width: 100%;

    }
      
      .hero-cta {

        text-align: center;

    }
    
      .section-title {

        width: 70%;

    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {

    section {
  
      padding: 30px 15px;
  
    }

    .section-title {

        width: 100%;

    }

    .hero-img {

        flex: 0 40%;
    
        margin-right: 0;
    
        margin-top: 20px;
    
        margin-bottom: 20px;

        position: absolute;
    
      }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    .section-title {

        width: 95%;

    }

    .ABOUTME p {

        width: 100%;

        flex: 10% 100%;

    }


}
