:root {

    --primary-color: #dd9b0c;
  
    --secondary-color: #f9f9f8;
  
    --tertiary-color: #151515;
    
  } 

* {
    margin: 0;
    padding: 0;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    width: 70%;
}

header nav {
    float: right;
    margin: 7px 0;
  }

header nav ul li {
    display: inline;
  }

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

body {
    
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: var(--tertiary-color);
    font-size: 15px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--tertiary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Hero Style Start */

.hero {

    background-color: var(--primary-color);

    height: 400px;

    text-align: center;

    position: relative;

}

.hero h2 {

    font-size: 24px;

    margin: 0;

    text-align: center;

    position: relative;

}

.hero img {

    background-color: var(--primary-color);

    width: 300px;

    margin: 10px 10px 15px 10px;

    padding: 15px 15px 30px 15px;

    align-items: center;

    position: relative;

}

/* Hero Style End */

.ABOUT {

    background-color: var(--primary-color);

    text-align: left;

}

.ABOUT h2 {

    background-color: var(--primary-color);

    padding: 50px 15px 0 15px;

    margin: 15px 15px 15px 15px;

    text-align: center;

    position: relative;

}

.ABOUT p {

    display: flex;
    
    /* Forces elements to next line when window space is restricted. */
    flex-wrap: wrap;

}

.PROJECT {

    display: flex;
    
    /* Forces elements to next line when window space is restricted. */
    flex-wrap: wrap;

    padding: 10px;

    background-color: var(--primary-color);

    text-align: center;

    border-style: solid;

    position: relative;

}

.PROJECT p {

    color: var(--tertiary-color);

    position: relative;

}

.PROJECT a {

    flex: 1 0 0;

    padding: 10px;

    text-align: center;

    width: 100%;

}

.PROJECT img {

    width: 25%;

    margin: 10px 10px 10px 10px;

    padding: 15px 15px 15px 15px;

    text-align: center;

    position: relative;

}

/* Container holding the image and the text */
.container {

    position: relative;

    text-align: center;

    color: var(--secondary-color);

}

div.container2 p {

    position: relative;

    text-align: center;

    color: var(--tertiary-color);

}

/* Centered text */
.centered {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}

/* Centered text */
.centered2 {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);
    
}

.CONTACT {

    background-color: var(--primary-color);

    text-align: center;

}

.CONTACT p {

    color: var(--tertiary-color);

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {

    .section-title {

        width: 100%;

    }

    header {

        padding-bottom: 0;
    
        justify-content: center;
    
        position: relative;
    
    }

    header h1 {

        width: 100%;
    
        text-align: center;
    
    }

    footer h2, footer div {

        text-align: center;

        width: 100%;

    }

    .hero-cta {

        width: 100%;

        text-align: center;

    }
    
    .section-title {

        width: 70%;

    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 760px) {

    section {
  
        padding: 30px 15px;
  
    }

    .section-title {

        width: 100%;

    }

    .hero h2 {

        width: 200px;

        position: relative;

        text-align: center;
    }

    .hero img {

        flex: 0 40%;
    
        margin-right: 0;
    
        margin-top: 20px;
    
        margin-bottom: 20px;

        position: relative;
    
      }

      footer h2, footer div {

        margin-right: 0;
    
        margin-top: 20px;
    
        margin-bottom: 0;

        text-align: center;

        width: 100%;

        position: relative;

    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 500px) {
    .section-title {

        width: 95%;

    }

    .ABOUT p {

        width: 100%;

        flex: 10% 100%;

    }

    .hero h2 {

        text-align: center;

        position: relative;

    }

    .container2 p {

        width: 100%;
    
        flex: 10% 100%;

        position: relative;

    }

}
